.camera-wrapper {

  .video-wrapper {
    position: relative;

    video {
      &#video {
        transform: scaleX(-1);
        width: 100%;
        // padding: 20px 0;
        margin: 20px 0;
        // background: black;
      }
    }
  }

  img {
    max-width: 100%;
  }

  input {
    &[type=file] {
      @include visuallyHidden;
    }
  }

  button {
    display: inline-flex;
    flex-direction: row;
    color: $biscay;
    background: gainsboro;
    margin: 0 20px 0 0;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    // font-weight: 600;
    letter-spacing: .5px;

    &:hover {
      background: darken(gainsboro, 5%);
    }

    &.image-input {
      position: relative;
      margin: 0 0 0 20px;
      padding: 0 10px 0 40px;

      &:before {
        position: absolute;
        content: '';
        left: 10px;
        top: 6px;
        width: 20px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 335.25 257.4373'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Ccircle cx='167.625' cy='142.37726' r='67.71762' fill='none' stroke='%231a3464' stroke-miterlimit='10' stroke-width='15'/%3E%3Cpath d='M317.794,249.9373H17.456c-5.47578,0-9.956-3.81411-9.956-8.47579V55.34736c0-4.66169,4.48018-8.47579,9.956-8.47579H83.575a17.40057,17.40057,0,0,0,14.13532-6.72763L108.914,16.37682a14.40256,14.40256,0,0,1,5.20835-6.06182,18.57288,18.57288,0,0,1,9.9401-2.815h87.30608a18.59964,18.59964,0,0,1,9.80785,2.73165,14.4177,14.4177,0,0,1,5.22238,5.90892l10.23946,20.762a17.57146,17.57146,0,0,0,14.62648,9.94025q.52673.02862,1.059.02872H317.794c5.47578,0,9.956,3.8141,9.956,8.47579V241.46151C327.75,246.12319,323.26982,249.9373,317.794,249.9373Z' fill='none' stroke='%231a3464' stroke-miterlimit='10' stroke-width='15'/%3E%3Crect x='24.84969' y='19.88012' width='54.83301' height='7.5' fill='%231a3464'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: contain;
        background-repeat: no-repeat;
      }
    }

    &.take {
      span {
        @include visuallyHidden;
      }

      position: absolute;
      left: 50%;
      bottom: 80px;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg id='capture-picture-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Ccircle opacity='0.65' fill='%23FFFFFF' cx='20' cy='20' r='16.0050011'/%3E%3Cpath opacity='0.65' fill='%23FFFFFF' d='M20,40C8.9718189,40,0,31.0277157,0,20C0,8.9718189,8.9718189,0,20,0s20,8.9718189,20,20 C40,31.0277157,31.0281811,40,20,40z M20,1.9047619C10.0223217,1.9047619,1.9047619,10.0223217,1.9047619,20 S10.0223217,38.0952377,20,38.0952377S38.0952377,29.9776783,38.0952377,20S29.9776783,1.9047619,20,1.9047619z'/%3E%3C/svg%3E");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg id='capture-picture-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Ccircle opacity='0.85' fill='%23FFFFFF' cx='20' cy='20' r='16.0050011'/%3E%3Cpath opacity='0.85' fill='%23FFFFFF' d='M20,40C8.9718189,40,0,31.0277157,0,20C0,8.9718189,8.9718189,0,20,0s20,8.9718189,20,20 C40,31.0277157,31.0281811,40,20,40z M20,1.9047619C10.0223217,1.9047619,1.9047619,10.0223217,1.9047619,20 S10.0223217,38.0952377,20,38.0952377S38.0952377,29.9776783,38.0952377,20S29.9776783,1.9047619,20,1.9047619z'/%3E%3C/svg%3E");
      }
    }

    &.close {
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      color: white;
      letter-spacing: 1px;
      background: rgba(0,0,0,0.55);
    }
  }

  ul {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(225,225,225,0.1);

    li {
      display: inline-block;
      margin: 0;

      img {
        cursor: pointer;
        margin: 0 0 5px 0;
        // transform: scaleX(-1);
        // width: 100px;
        // height: 75px;
      }

      button {
        text-align: center;
        margin: 0 auto !important;
        display: block;
        width: 100%;
      }
    }
  }
}