.form-group {
  position: relative;
  margin: 0 0 20px 0;

  .singlevaluelist {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    legend {
      width: 100%;
      margin: 0 0 5px 0;
    }

    div {
      margin: 0;
      width: 100%;
      display: block;
      

      &.no-break {
        width: auto;
        margin: 0 15px 0 0;
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }

  legend {
    color: white;
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  label {
    display: block;
    color: white;
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  select {
    width: 100%;
  }

  textarea {
    min-height: 50px;
    max-width: 100%;
    min-width: 100%;
  }

  input:not([type=radio]):not([type=checkbox]),
  textarea {
    font-size: 16px;
    border: none;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background-clip: padding-box;
    border-radius: 4px;
  }

  input {
    &[type=checkbox] {
      cursor: pointer;
      margin: 0;
    }

    &[type=file] {
      padding: 0 !important;
    }

    &[type=radio] {
      margin: 0 0 5px 0;

      ~ label {
        display: inline-block;
        margin: 0 0 0 10px;
      }
    }

    &:focus {
      outline: 3px solid rgba(77, 144, 254, 0.6);
    }
  }
}