nav {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  max-width: 520px;

  h1 {
    display: inline-block;
  }

  h2 {
    position: relative;
    width: 100%;
    margin: 0 0 0 55px;
    overflow: hidden;

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      width: 100%;
      height: 1px;
      margin: 0 0 0 15px;
      background-color: white;
    }
  }

  .nav-back {
    background-image: url("data:image/svg+xml,%0A%3Csvg id='back-icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='150px' height='150px' viewBox='0 0 150 150' enable-background='new 0 0 150 150' xml:space='preserve'%3E%3Cpath id='circle' fill='%23FFFFFF' d='M75,0C33.6446533,0,0,33.6449585,0,75c0,41.3549805,33.6446533,75,75,75s75-33.6450195,75-75 C150,33.6449585,116.3553467,0,75,0z M75,142.8879395c-37.4337158,0-67.8879395-30.4545898-67.8879395-67.8879395 C7.1120605,37.5665894,37.5662842,7.1120605,75,7.1120605S142.8879395,37.5665894,142.8879395,75 C142.8879395,112.4333496,112.4337158,142.8879395,75,142.8879395z'/%3E%3Cpolygon id='icon' fill='%23FFFFFF' points='88.317749,43.618042 56.937439,75 88.317749,106.381958 93.062561,101.637146 66.427063,75 93.062561,48.362854 '/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 15px 0 0;

    span {
      @include visuallyHidden;
    }
  }
}