.progress-stepper {
  position: relative;
  max-width: 520px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  line-height: 25px;

  span {
    flex: 1 1 10%;
  }

  div {
    position: relative;
    background: #ccc;
    color: $biscay;
    margin: 0 0 0 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 25px;
    text-align: center;

    &.active {
      background: white;

      &:before {
        position: absolute;
        content: '';
        width: 33px;
        height: 33px;
        border-radius: 50%;
        border: 2px solid white;
        left: -4px;
        top: -4px;
        z-index: 10;
      }
    }

    &.complete {
      color: white;
      background: $fern;

      &:after {
        background: $fern;
      }
    }

    &:first-of-type {
      margin: 0;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }

    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      right: -20px;
      background: #ccc;
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}