header {
  z-index: 100000;
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 2px solid darken(white, 20%);
  width: 100%;
  padding: 10px 0;
  color: $biscay;
  font-size: 18px;
  // font-family: 'IBM Plex Sans', sans-serif;
  // font-weight: 400;

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    max-width: 520px;
    width: 100%;

    a {
      &:first-of-type {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 10px 0 0;
      }

      &:last-of-type {
        margin-left: auto;
        svg {
          display: block;
          width: 20px;
          height: 20px;

        }
      }
    }
  }
}